h1{
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

.custom-select{
    min-width: 250px;
    position: relative;
}
* {
  box-sizing: border-box;
}

body {
  min-height: 80vh;
  display: grid;
  place-items: center;
} 

label{
    font-size: 30px;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

option{
    font-family: 'DotGothic16', sans-serif;
}

button{
    width: 200px;
    height: 50px;
}